services:
  server:
    image: 'itzg/minecraft-server:java21-graalvm'
    container_name: 'marketplace-dev-server'
    volumes:
      - './.volumes/minecraft/data:/data'
    environment:
      EULA: 'TRUE'
      VERSION: '1.21.8'
      ENABLE_RCON: true
      SERVER_PORT: '8000'
      TYPE: 'SPIGOT'
    ports:
      - '8000:8000'
  database:
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: madacraft
    volumes:
      - './.volumes/mysql:/var/lib/mysql'
    ports:
      - '3306:3306'